@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  background-color: #ffffff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 3rem;
  height: calc(100vh - 3rem);
  overflow-y: auto;
}

.title {
  height: 30px;
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 40px;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.element_group {
  width: 100%;
  padding-bottom: 5px;
}

.element_title {
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 55px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.subitems {
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  opacity: 1;
  /* transition: max-height 0.2s ease-out, opacity 0.3s ease-out;
  opacity: 0; */
}

/* .subitems.open {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  opacity: 1;
} */

.arrow {
  padding-left: 35px;
  transition: transform 0.3s;
}

.arrow img {
  transition: transform 0.3s;
}

.arrow img {
  transform: rotate(180deg);
}

.title_icon {
  padding-left: 10px;
}

.elements_list_inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  overflow-y: auto;
}

.subitem a {
  display: block;
  padding: 10px 15px;
  padding-left: 65px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.subitem.active_element {
  background-color: #f0f0f0; 
  color: #333; 
}
