@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.details_block {
  margin-top: 30px;
  font-family: "Google Sans", sans-serif;
  background: #ffffff;
  min-height: 450px;
  max-width: 1000px;
  padding: 19px;
  color: black;
  border-radius: 26px;
}
.details_title {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}
.exampleofusage_block {
  padding: 30px 30px;
  width: 300px;
  height: 125px;
}
.exampleofusage_text {
  color: black;
  margin-bottom: 13px;
}
.description_block {
  max-width: 450px;
}
.demo_url {
    text-decoration: underline;
}
.important_part {
  padding: 20px 30px;
  font-family: "Inter", sans-serif;
  border-radius: 22px;
  background: #eaeaea;
  width: 100%;
  height: 170px;
}
.important_icon {
  width: 23px;
}
.title_important {
  margin-bottom: 10px;

  font-size: 15px;
  display: flex;
  align-items: center;
}
.important_text {
  margin-right: 8px;
}
input[type="text"] {
  margin-top: 6px;
  color: rgb(200, 200, 200);
  background: #1e1e1e;
  width: 100%;
  height: 28px;
}
.fr_action_block {
  margin-bottom: 14px;
}
.mit_b_ic {
    color: #323232;
    width: 1rem;
}
.mit_tt_tx {
    margin-left: 4px;
    font-size: 4;
    font-weight: 400;
}
.ttl {
    display: flex;
    align-items: center;
    color: black;
}
.mit_l_bl {
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
}
.mit_tx_ara {
    margin-top: 8px;
    white-space: pre-wrap;
    padding: 1.5rem;
    border-radius: .75rem;
    width: 450px;
    height: 150px;
    resize: none;
    overflow: hidden;
    position: relative;
}
.custom_scrollbar {
    overflow: auto;
}
.custom_scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #404040;
    border: 2px solid transparent;
    background-clip: padding-box; 
}
.custom_scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    margin: 4px;
}
.cl_bl_gg {
    width: 82%;
    display: flex;
    justify-content: space-between;
}
.sp_line {
    width: 100%;
    height: 1px;
    background: rgb(173, 173, 173);
}