.download_block {
  border-left: 1px solid #868686;
  width: 280px;
  background-color: #3c3c3c;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.docs_title {
  color: #dddddd;
  margin-bottom: 20px;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  margin: 15px 0px;
  margin-bottom: 23px;
}
.fr_instr_text {
  text-align: start;
  font-size: 15px;
  margin-bottom: 10px;
}
.feedback {
  margin-top: 30px;
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
  color: #ffffff;
  background: #282828;
  border-radius: 7px;
  text-align: center;
  padding: 20px;
}
.feedback .buttons {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.like-button,
.dislike-button {
  background: #5a5a5a3b;
  color: white;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.active_feedback {
  background-color: #2e6cbd;
}
.like-button:hover,
.dislike-button:hover {
  background-color: #86868633;
}
.download_options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.dlk_ic {
  fill: #dc3545;
}
.lk_ic {
  fill: #28a745;
}
.lk_ic,
.dlk_ic {
  width: 21px;
  margin-right: 5px;
}
.copyordown_block {
  color: #ffffff;
  background: #282828;
  border-radius: 7px;
  max-height: 210px;
  padding: 20px;
}
.dwnld_btn {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795e;
  background-color: #209978;
  overflow: hidden;
}
.dwnld_btn,
.dwnld_ic,
.dwnld_txt {
  transition: all 0.3s;
}
.dwnld_btn .dwnld_txt {
  transform: translateX(22px);
  color: #fff;
  font-weight: 400;
}
.dwnld_btn .dwnld_ic {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dwnld_svg {
  width: 16px;
  fill: #fff;
}
.dwnld_btn:hover {
  background: #17795e;
}
.button:hover .button__text {
  color: transparent;
}
.dwnld_btn:hover .dwnld_ic {
  width: 148px;
  transform: translateX(0);
}
.dwnld_btn:active .dwnld_ic {
  background-color: #146c54;
}
.dwnld_btn:active {
  border: 1px solid #146c54;
}
.gbrtc_blbl {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 25px;
}
@media screen and (max-width: 1417px) {
  .download_block {
    min-height: 200px;
    width: 100%;
    border-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .download_options {
    justify-content: start;
    flex-direction: row;
  }
  .dwnld_btn:first-child {
    margin-right: 20px;
  }
  .feedback {
    margin-top: 0;
    max-width: 250px;
  }
  .copyordown_block {
    margin-right: 13px;
    max-width: 625px;
  }
  .gbrtc_blbl {
    flex-direction: row;
  }
}
