@import "normalizes.css";
@import "resets.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color:#EFEFEF;
  --container-color: #1d1d1d;
  --header-color: #191919;
  --light-balck-color: #202020;

  /*========== Font and typography ==========*/
  --body-font: "Niramit", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.container_small {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  max-width: 1400px;
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

main {
  padding-top: var(--header-height);
}
/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  position: relative;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
}

.nav__list {
  padding-left: 70px;
  justify-content: space-around;
}

.nav__link {
  color: #afafaf;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s;
}

.nav__link:hover {
  color: #f0f0f0;
}

/* Active Link Styles */
.active {
  color: #fff;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 1.3px;
  background-color: #efefef;
  border-radius: 3px;
}
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container,
  .container_small {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Footer */

footer {
  min-height: 310px;
  background-color: #373737;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-size: 16px;
  line-height: 1.6;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.footer__about,
.footer__links,
.footer__social {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
}

.footer__about p,
.footer__links ul,
.footer__social a {
  margin-top: 10px;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__social a {
  display: block;
}

.footer_h4 {
  color: #f0f0f0;
}

.footer_all_links {
  color: #c7d5e0;
  text-decoration: none;
}

.footer_all_links:hover {
  text-decoration: underline;
}
