.exp_group {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.content_side {
    padding: 20px;
    flex-grow: 1;
}
.preview_windows {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}