html,
body {
  height: 100%;
}
.iphone {
  overflow: hidden;
  border: 5px solid black;
  border-radius: 37px;
  width: 270px;
  height: 460px;
  position: relative;
  box-shadow: 0px 20px 15px #33333335;
  background-color: rgb(255, 255, 255);
}
.notch {
  z-index: 50;
  top: 0;
  left: 59px;
  position: absolute;
  background: #000000;
  width: 140px;
  height: 21.5px;
  border-radius: 0px 0px 15px 15px;
}
.screen {
  z-index: 10;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.camera {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 0.2rem solid #1e1f22;
  background: #447bb5a6;
}
.speaker {
  position: absolute;
  right: 2.8rem;
  top: 4px;
  width: 4rem;
  height: 0.3rem;
  background: #333;
  border-radius: 0.2rem;
}
.iframe_window {
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
}
.status_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  background-color: #eff4f9;
}
.mob_wifi_batt_img {
  padding-right: 10px;
  height: 12.5;
  width: 58px;
}
.time_img {
  padding-left: 14px;
  width: 50px;
  height: 11.5px;
}
@media screen and (max-width: 1300px) {
  .iphone {
    display: none;
  }
}
.browser-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.icon-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.icon-button:hover {
  background-color: #ddd;
}

.url-input {
  flex-grow: 1;
  padding: 0 10px;
}

.url-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* Adding specific styles for the box icons if not using an actual library */
/* @font-face {
  font-family: "boxicons";
  src: url("path/to/boxicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

[class^="bx-"],
[class*=" bx-"] {
  font-family: "boxicons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
