html,
body {
  height: 100%;
}
.iphone {
  border: 5px solid black;
  border-radius: 37px;
  width: 270px;
  height: 460px;
  position: relative;
  box-shadow: 0px 20px 15px #33333335;
  background-color: rgb(255, 255, 255);
}
.iphone_inner {
  width: 100%;
  height: 100%;
  border-radius: 37px;
  position: relative;
  box-shadow: 0px 20px 15px #33333335;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.notch {
  z-index: 50;
  top: 0;
  left: 66px;
  position: absolute;
  background: #000000;
  width: 123px;
  height: 21.5px;
  border-radius: 0px 0px 15px 15px;
}
.screen {
  z-index: 10;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.camera {
  position: absolute;
  bottom: 8px;
  right: 17px;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.2rem solid #1e1f22;
  background: #447bb5a6;
}
.speaker {
  position: absolute;
  right: 2.1rem;
  top: 6px;
  width: 4rem;
  height: 0.21rem;
  background: #333;
  border-radius: 0.2rem;
}
.iframe_window {
  border-bottom-right-radius: 37px;
  border-bottom-left-radius: 37px;
}
.status_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  background-color: #ffffff;
}
.mob_wifi_batt_img {
  margin-right: 10px;
  height: 12.5;
  width: 58px;
}
.time_img {
  margin-left: 17px;
  width: 40px;
  height: 11.5px;
}
@media screen and (max-width: 1300px) {
  .iphone {
    display: none;
  }
}
.browser-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 4px;
  background-color: #e0e1e5;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
}

.icon-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.icon-button:hover {
  background-color: #ddd;
}

.url-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 10px;
}

.url-text {
  color: #202124;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.lock_img {
  width: 9.1px;
  margin-right: 2px;
}
.refresh_img {
  margin-right: 4px;
  width: 13px;
}
.translate_img {
  margin-left: 4px;
  width: 13px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  position: absolute;
  width: 2px;
}

.btn1,
.btn2,
.btn3 {
  height: 45px;
  top: 30%;
  right: -7.2px;
  background-image: linear-gradient(
    to right,
    #111111,
    #222222,
    #333333,
    #464646,
    #595959
  );
}

.btn2,
.btn3 {
  transform: scale(-1);
  left: -6.5px;
}

.btn2,
.btn3 {
  transform: scale(-1);
  height: 30px;
}

.btn2 {
  top: 26%;
}

.btn3 {
  top: 36%;
}
