.code_snippet {
  width: 800px;
  height: 450px;
  background: rgb(30, 30, 30);
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filetabs {
  display: flex;
  background: #3a3a3a;
  padding-top: 11px;
  padding-left: 8px;
}
.filetab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 180px;
  border: none;
  cursor: pointer;
  background: #282828;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  color: #64b7e5;
  text-decoration: underline;
  margin-left: 8.5px;
}
.filetab:first-child {
  margin-left: 2px;
}
.filetab.active {
  background: rgb(30, 30, 30);
}
.syntax_highlighter {
  max-height: 380px;
  overflow: auto;
  padding: 10px;
}
.syntax_highlighter::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: transparent;
  margin-right: 8px;
}
.syntax_highlighter::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  background-color: rgb(126, 126, 126);
}
.syntax_highlighter::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4f4f4f;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.syntax_highlighter::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  height: 4px;
  margin: 8px;
}
.icon_style {
  padding-left: 20px;
}
.tabs {
  width: 570px;
  display: flex;
}
@media screen and (max-width: 1300px) {
  .code_snippet {
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
  }
}
.copy_button {
  position: relative;
  left: 115px;
  width: 90px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0.1px solid #606060;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.copy_text {
  font-weight: 300;
  font-size: 14px;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(174, 174, 174);
  background-color: rgb(53 52 52);
}
.copy_svg {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(174, 174, 174);
  background-color: rgb(46, 46, 46);
}
.copy_button:hover .copy_text {
  background-color: rgb(64, 64, 64);
}
.copy_text:hover {
  color: rgb(227, 227, 227);
}
.copy_svg:hover {
  color: rgb(227, 227, 227);
  background-color: rgb(44, 44, 44);
}